

.main{
  width: 85%;
  height: 100vh;
  float: right;
  overflow-y: scroll;
  z-index: 0;
}

.fill-screen{
  width:85vw;
  height: 100vh;
}

.send-to-back{
  z-index: -1;
}


.pdf-view{
  width:100%;
  height: 90vh;
}

.my-name{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  justify-content: center;
  align-items: center;
  width: fit-content;
  top: 35%;
  margin-left: 20%;
  margin-right: auto;
  z-index: -1;
  

  .sub-title{
    position: relative;
    font-size: 1.7vw;
    display: inline-block;
    left:50%;
  }
  
}


.medium-container{
  
  display: block;
  border: 1px solid orange;
  max-width: 50%;
  max-height: 50vh;
  border-radius: 10pt;
  background-color: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(10px);
  top: 20%;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
  
  .text{
    width: 90%;
    text-align: center;
  }
}


.flex-col{
  display: flex;
  flex-direction: column;
}


.scroll-vertical{
  overflow-y: scroll;
}

.text-container70{
  margin:auto;
  width: 70%;
}

.text-container80{
  margin:auto;
  width: 80%;
}

.center-horizontal{
  margin-left: auto;
  margin-left: auto;
  text-align: center;
}

.margin-l10pt{
  margin-left:10pt;
}

.margin-l20pt{
  margin-left:20pt;
}

.vertical-margin10{
  margin-top: 10%;

}
.vertical-margin20{
  margin-top: 20%;
}

.margin_t20pt{
  margin-top: 20pt;
}

.margin_t40pt{
  margin-top: 40pt;
}
.padding_b10{
  padding-bottom: 10pt;
}

.padding_l20{
  padding-left:20pt;
}

.padding_r20{
  padding-right: 20pt;
}

.orange-text{
  color:orange;
}

.white-text{
  color:white;
}

.small-text{
  font-size: small;
}



.thin-text{
  font-weight: 100;
}

.thick-text{
  font-weight: bold;
}

.medium-text{
  font-size: medium;
}

.large-text{
  font-size: 1.5vw;
}

.larger-text{
  font-size: 1vw;
}

.x-large-text{
  font-size: 1.5vw;
  margin:1em
}

h1{
  font-weight: 150;
}

h2{
  text-decoration: underline;
  font-weight: 100;
}


.show_button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 2pt;
  text-decoration: none;
  color: black;
  background-color: rgb(158, 103, 0);
  font-size: small;
}
.show_button:hover{
  background-color: rgb(164, 125, 53);
}